<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Neeru/IdeaProjects/APIAutomationRestAssured/src/test/java/Ex22092024/SelfPaced/UsingIText">
        <classes>
            <class name="Ex22092024.SelfPaced.UsingIText.GetBookingId">
                <methods>
                    <include name="createBooking"/>
                </methods>
            </class>
            <class name="Ex22092024.SelfPaced.UsingIText.GetBookingDetails">
                <methods>
                    <include name="getBookingDetails"/>
                </methods></class>
        </classes>
    </test>
</suite>